/* TAG SELECTORS */
body {
    background-color: #e0f8ff;
    text-align: center;
}

h1 {
    border-color: #e4d0d5;
    border-style: dashed;
    border-radius: 7px;
    border-width: 3px;
    color: #5da4cd;
    font-weight: lighter;
    font-family: 'Pacifico', cursive;
    margin-top: 15%;
    padding: 3px;
    text-align: center;
}

h2 {
    color: #5da4cd;
    font-weight: lighter;
    font-family: 'Yusei Magic', sans-serif;
}

hr {
    border-color: #e4d0d5;
    border-style: dotted none none none;
    border-width: 7px;
    margin-bottom: 20px;
    width: 25%;
}

label {
    font-family: 'Yusei Magic', sans-serif;
}

p {
    font-family: 'Yusei Magic', sans-serif;
}

input:focus {
    border-color: #e4d0d5;
}

/* CLASS SELECTORS */

/* ID SELECTORS */

#app {
    width: 200px;
    margin: auto;
}


a { font-size: 1.4em; }

body {
    height: 450px;
    width: 300px;
}

input {
    border: transparent;
}

li:hover {
    text-decoration: line-through;
  }


ul {
    background-color: #ffc;
    font-family: 'Yusei Magic', sans-serif;
    text-align: left;
    margin: auto auto auto 15px;
    
}

.generate {
   width: 100%;
   
}

.to-do-section {
    
    background-color: #ffc;
    height: 170px;
    width: 100%;
}

#todo {
    background-color: #ffc;
    font-family: 'Yusei Magic', sans-serif;
    margin: 5px auto auto auto;
    
}

.sticky-note-img {
    float: left;
    height: 35px;
    width: 35px;
    
}
