/* TAG SELECTORS */
body {
    background-color: #e0f8ff;
    text-align: center;
}

h1 {
    border-color: #e4d0d5;
    border-style: dashed;
    border-radius: 7px;
    border-width: 3px;
    color: #5da4cd;
    font-weight: lighter;
    font-family: 'Pacifico', cursive;
    margin-top: 15%;
    padding: 3px;
    text-align: center;
}

h2 {
    color: #5da4cd;
    font-weight: lighter;
    font-family: 'Yusei Magic', sans-serif;
}

hr {
    border-color: #e4d0d5;
    border-style: dotted none none none;
    border-width: 7px;
    width: 25%;
}

/* CLASS SELECTORS */

/* ID SELECTORS */

#app {
    width: 200px;
    margin: auto;
}


a { font-size: 1.4em; }

body {
    height: 400px;
    width: 300px;
}

input {
    border: transparent;
    background-color: #ffc;
}

li:hover {
    text-decoration: line-through;
  }


ul {
    text-align: left;
    position: absolute;
}

.todo{
    position: relative;
}