/* TAG SELECTORS */
body {
    background-color: #d7fffd;
    text-align: center;
}

h1 {
    color: #5DCDC9;
    font-weight: lighter;
    font-family: 'Pacifico', cursive;
    padding: 3px;
    border-color: #eca0b6;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #5DCDC9;
    font-weight: lighter;
    font-family: 'Yusei Magic', sans-serif;
}

/* CLASS SELECTORS */

/* ID SELECTORS */

#app {
    width: 200px;
    margin: auto;
}

#frog {
    display: none;
}

a { font-size: 1.4em; }

body {
    height: 400px;
    width: 300px;
}

li:hover {
    text-decoration: line-through;
  }


ul {
    text-align: left;
}